@import '../../../../global.scss';

.project-item__wrapper {
    box-shadow: 2px 2px 2px 2px $--theme-shadow-color;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 0;
    border-radius: 5px;
    border: 2px solid $--theme-shadow-color;

    &:hover {
        box-shadow: 0px 8px 8px 0px $--theme-shadow-color;
    }

    .project-item__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px 0px;
        width: 800px;
        border: none;
        background-color: $--theme-secondary-color;

        @media only screen and (min-width: 768px) {
            width: 600px;
        }

        &:focus, &:hover {
            background-color: $--theme-primary-color;
            cursor: pointer;   
        }

        .project-item__name {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    
        .project-item__state {
            font-size: 18px;
        }
    }

    .project-item__details--selected {
        background-color: $--theme-primary-color;
    }

    .project-item__badget, .launched, .finished, .not_started {
        width: 25px;    
    }
    .launched {
        background-color: $--progress-launched-color;
    }
    .finished {
        background-color: $--progress-finished-color;
    }
    .not_started {
        background-color: $--progress-not_started-color;
    }
}