@import '../../../global.scss';

.heading__wrapper {
    .heading__title {
        font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
        text-align: center;
        margin-bottom: 100px;
        font-size: 4rem;
      }
}