$--progress-launched-color: #90EE90;
$--progress-finished-color: #A9A9A9;
$--progress-not_started-color: #FBFFE3;

$--theme-primary-color: #308CCD;
$--theme-shadow-color: rgba($color: #000000, $alpha: 0.6)